

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
     margin-left: 0px;
     left: 0px;
}

.logo{
    background-image: url("../Content/img/CaWe-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 160px;
   
    margin-bottom: 0px
}

.field-validation-error{
    color:red;
    font-size:12px
}

.input-validation-error {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(212, 79, 79, .6);
}

.margin-right-10{
    margin-right:10px;
}
.margin-left-10{
    margin-left:10px;
}
.menu-container{
  margin-top: 20px;

}

.menu-container .navbar{   
    background: white;
}

.margin-top-8{
    margin-top: 8px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-top-35{
    margin-top: 35px;
}


.logo-menu{
    background-image: url("../Content/img/CaWe-logo-menu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 85px;   
    width:86px;
    float:left;
}

.menu-container .navbar-header{   
    margin-left: -15px;
    
}




.menu-container  .navbar-nav > li > a {
    line-height: 57px;
    font-weight: bold;
    color: #2abdab;
}


hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #f8f8f8, #1ab9a6, #f8f8f8);
    position:relative;
}
body, html {
    height: 100%;
}

.body-content{
    height:100%;
}

.container-content {
    min-height: 90%;
}

hr {
    margin-top:20px;
}
.banner img {
    width: 100%;
}

.no-padding-rg{
    padding-right: 0px !important;
}

li.active a{
    color: #337ab7 !important;
}

.margin-bottom-10{
     margin-bottom: 10px;
}

a:hover{
    text-decoration: none !important;
}

.font-size-18{
    font-size: 18px;
}
.font-size-30{
    font-size: 30px;
}
.line-height-1-5{
    line-height: 1.5;
}