
@{
    ViewBag.Title = "How";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>How</h2>

<hr class="style-one" />
<div class="col-lg-6">
    <div class="well">
        <h4 class="line-height-1-5">
            Get your weight solution in 4 steps: <br>
            &nbsp;&nbsp;&nbsp;1. Fill in the fields below.<br>
            &nbsp;&nbsp;&nbsp;2. Select a location.<br>
            &nbsp;&nbsp;&nbsp;3. Pay and weigh.<br>
            &nbsp;&nbsp;&nbsp;4. Receive your weight by e-mail.<br>
        </h4>
    </div>
</div>
<div class="col-lg-6">
    <div class=" well">
        <ul class="font-size-18">
            <li>Container weighing service on the terminal</li>
            <li>VGM certificate send to client after weighing</li>
            <li>Prevent delays</li>
            <li>Starting from €90,- per container, including handling and transport</li>
            <li>Contact us <a href="http://localhost:62610/Home/Contact">directly</a> for any question</li>
            <li>Direct order and pay</li>
        </ul>
    </div>
</div>

