@model MVCBase.Models.UserViewModel

@{
    ViewBag.Title = "Change user password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Information about new password</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3"><h3>Old password: </h3></div>
                    <div class="col-lg-9"><h3>@Model.UserInfo.Email</h3></div>
                </div>
                <div class="row">
                    <div class="col-lg-3"><h3>New password: </h3></div>
                    <div class="col-lg-9"><h3>@Model.UserInfo.FirstName</h3></div>
                </div>
                <div class="row">
                    <div class="col-lg-3"><h3>Repeat new password: </h3></div>
                    <div class="col-lg-9"><h3>@Model.UserInfo.LastName</h3></div>
                </div>
                
            </div>
            <div class="panel-footer clearfix">
                <col-lg-12>
                    <button type="button" class="btn btn-success pull-right">Save</button>
                 </col-lg-12>
            </div>
        </div>
        
    </div>
</div>


